@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  min-height: 100vh;
}

:disabled {
  opacity: 0.7;
}

@layer components {
  .btn-primary {
    @apply w-fit inline-block py-1 px-4 rounded-lg transition-opacity border border-slate-200 bg-slate-200 text-slate-950 hover:opacity-75 focus-visible:opacity-75;
  }
  .btn-secondary {
    @apply w-fit inline-block py-1 px-4 rounded-lg transition-colors border border-slate-200 hover:bg-slate-200 hover:text-slate-950 focus-visible:bg-slate-200 focus-visible:text-slate-950;
  }
}
